@model List<Lab05.Models.WorkoutSet>

@{
    ViewData["Title"] = "Workout Sets";
}

<h2>Workout Sets</h2>

    <p>
        <a asp-controller="WorkoutSet" asp-action="Create">Create New</a> 
    </p>

<table class="table">
    <thead>
        <tr>
            <th>WorkoutSetId</th>
            <th>Workout</th>
            <th>Exercise</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var workoutSet in Model)
        {
            <tr>
                <td>@workoutSet.WorkoutSetId</td>
                <td>@workoutSet.Workout.Name</td>
                <td>@workoutSet.Exercise.Name</td>
            </tr>
        }
    </tbody>
</table>
