@model Lab05.ViewModels.TrackedWorkoutDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <!-- Edit Page-->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TrackedWorkoutId" />

            <!-- Account -->
            <div class="form-group">
                <label asp-for="AccountId" class="control-label">Account</label>
                <select asp-for="AccountId" asp-items="@ViewBag.AccountList" class="form-control"></select>
                <span asp-validation-for="AccountId" class="text-danger"></span>
            </div>

            <!-- Workout -->
            <div class="form-group">
                <label asp-for="WorkoutId" class="control-label">Workout</label>
                <select asp-for="WorkoutId" asp-items="@ViewBag.WorkoutList" class="form-control"></select>
                <span asp-validation-for="WorkoutId" class="text-danger"></span>
            </div>

            <!-- Submit Button-->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
